body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.tes{
    color: #2e6aeb;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.image-1{
    width: 60%;
}
.hire-btn{
    text-decoration: none;
    background-image: linear-gradient(#9c9cb6, #55a1f8);
    border-radius: 9px;
    padding: 10px 40px;
    font-size: larger;
    font-weight: 900;
    
}
.top-banner{
    background-image: url(../image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(../image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.level{
    color: orange;
}
h2{
    font-size: 40px;
}
.exper{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
}
.experience-area{
    background-image: url(../image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev-2{
    border-left: 7px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}
footer{
    text-align: center;
}